<!-- 
<div class="modal fade" id="modalRegistro" aria-hidden="true" aria-labelledby="Registro" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Inicio">REGISTRARSE</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label class="form-label">correo electronico</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Username" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">contraseña</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" />
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="rememberMe" />
                        <label class="form-check-label" for="rememberMe">Recordarme</label>
                    </div>
                </form>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-target="#modalSign" data-bs-toggle="modal" data-bs-dismiss="modal">Volver a inicio</button>
        </div>
      </div>
    </div>
  </div>
   -->

   <div class="container">
    <div class="signUpCard">
     <form #signupForm="ngForm">
      <h2 class="heading">Sign Up</h2>
  
      <label class="label">Email</label>
         <input 
         type="email" name="email"
         placeholder="Enter your email address" 
         [(ngModel)]="email" class="formInput"
         maxlength="60" required/>
  
      <label class="label">Password</label>
        <input 
          type="password" name="password"
          placeholder="Choose a password" 
          [(ngModel)]="password" class="formInput" 
          required/>
  
     
        <button [disabled]="!signupForm.form.valid" 
                type="submit" (click)="signUpExample()"
                class="btn" id="btn-signUp">
                Sign Up
        </button>
      </form>
    </div>
  </div>