<div class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">SKILLBIND</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">File</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="#">Foros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">View</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Help
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
          </li>
        </ul>
        <div class="col-md-7 col-xl-5 text-end">

          <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>

              <ul class="dropdown-menu " aria-labelledby="dropdownMenuLink">
                  <li class="dropdown-item">Editar perfil</li>
                  <li><a class="dropdown-item" href="javascript:void(0)" (click)="logOut()">Cerrar sesión</a></li>
                  <li>
                    <nav>
                       <a class="nav-link" (click)="('modalSign')" >Login </a>
                    </nav>
                  </li>
              </ul>
          </div>

      </div>
      </div>
    </div>
  </nav>
</div>
